header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkslategrey;
    height: 60px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;

}
#hotstops {
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1%;
    font-size: 30px;
}
li{
    font-size: 25px;
    padding: 15px 4% 15px 4%;
    text-align: center;
    display: inline;
    list-style-type: none;
    float: right;


}
li a{
    text-decoration: none;
    color: white;

}
.contentnav:hover{
    background-color: aqua;
}
#navbar{
    padding: 0;
    margin: 0;
}
#banner{
    padding: 10%;
    margin: 0;
    text-align: center;
    background: cadetblue;
    color: white;
    font-size: 30px;


}
body{
    margin: 0;
    padding: 0;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
















/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/

/*li {*/
/*    float: left;*/
/*}*/

/*li a {*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 20px 50px;*/
/*    text-decoration: none;*/
/*}*/

/*!* Change the link color to #111 (black) on hover *!*/
/*li a:hover {*/
/*    background-color: #111;*/
/*}*/
