header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkslategrey;
    height: 60px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    z-index: 2;
}
#hotstops {
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1%;
    font-size: 30px;
}
.contentnav2 li{
    font-size: 25px;
    padding: 15px 4% 15px 4%;
    text-align: center;
    display: inline;
    list-style-type: none;
    float: right;


}
.contentnav2 li a{
    text-decoration: none;
    color: white;

}
.contentnav:hover{
    background-color: aqua;
}
#navbar{
    padding: 0;
    margin: 0;
}
.banner{
    /*padding: 60px;*/

    /*margin: 0;*/
    /*text-align: center;*/
    /*background: cadetblue;*/
    /*color: white;*/
    /*font-size: 30px;*/
    /*!*width: 100%;*!*/


    /*width: 100%;*/
    /*height: 75vh;*/
    text-align: center;
    background: cadetblue;
    color: white;
    padding-top: 2%;
    /*font-size: 30px;*/
    /*padding-top: 10%;*/
    z-index: 1;
}
#hi{
    position: absolute;
    padding-top: 2%;
    padding-left: 8%;
    font-size: 50px;
    /*margin: 0;*/

    /*!*margin-left: 0%;*!*/
    /*!*margin-top: 0%;*!*/
    z-index: 0;
}

#london{
    /*position: absolute;*/
    padding: 2% 0 0 0;
    /*padding-right: 50%;*/
    /*margin: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

#hotspotlist{
    position: absolute;
    font-size: 20px;
    text-align: right;
    color: #111111;
    padding-top: 2px;
    text-decoration: none;
}






body{
    margin: 0;
    padding: 0;
    /*background-color: cornflowerblue;*/
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}
.openbtn{
    cursor: pointer;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.text{
    font-size: 30px;
    width: 48%;
    /*display: inline-block;*/
    float: left;
    /*padding: 1%;*/
    margin-right: 10px;
}
#galleryOfHotspot{
    /*width: 200px;*/
    /*display: inline-block;*/
    background-color: brown;
    float: right;
}
.text2{
    font-size: 30px;
    clear: both;
    width: 48%;
    float: left;
    margin-right: 10px;
}
#googleMapsView{
    /*clear: both;*/
    float: right;
    margin-top: 10%;
}














