.title{
    font-size: 50pt;
    margin-top: 80px;
    text-align: center;
}
.c1{
    float: left;
    text-align: center;
    background-color: lightgrey;
    width: 280px;
    border: 5px solid black;
    padding: 12px;
   margin: 40px 5px 10px 260px;
}
.c2{
    float: left;
    text-align: center;
    background-color: lightgrey;
    width: 280px;
    border: 5px solid black;
    padding: 12px;
    margin: 40px 5px 10px 8px;
}
.c3{
    float: left;
    text-align: center;
    background-color: lightgrey;
    width: 280px;
    border: 5px solid black;
    padding: 12px;
    margin: 40px 5px 10px 8px;
}
.p1{
    position: fixed;
    width: 300px;
    border: 7px solid black;
    padding: 0;
    margin-left: 5px;
    margin-right:5px;
}
.p2{
    position: fixed;
    width: 300px;
    border: 7px solid black;
    padding: 0;
    margin-left:460px;
    margin-right:5px;
}
.p3{
    position: fixed;
    width: 300px;
    border: 7px solid black;
    padding: 0;
    margin-left:5px;
    margin-right:5px;
}


