*{
    background-color: darkslategray;
}
.title{
    font-size: 50pt;
    margin-top: 50px;
    text-align: center;
}
#bild{
    position: absolute;
    margin-top: -15px;
    padding: 0;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;

}
.c1{

    text-align: center;
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    margin-right: 20px;

}
.c2{
    text-align: center;
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    margin-right: 20px;
}
.c3{
    text-align: center;
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
}
.p1{
    position: fixed;
    width: 300px;
    border: 7px solid black;
    margin-right: 20px;
    /*padding: 0;*/
    /*margin-left: 660px;*/
    /*margin-right:660px;*/
    /*margin: 15px 5px 10px 260px;*/

}
.p2{
    position: fixed;
    width: 300px;
    border: 7px solid black;
    margin-right: 20px;
    /*padding: 0;*/
    /*margin-left:460px;*/
    /*margin-right:5px;*/
    /*margin: 45px 5px 10px 8px;*/
}
.p3{
    position: fixed;
    width: 300px;
    border: 7px solid black;
    margin-right: 20px;
    /*padding: 0;*/
    /*margin-left:660px;*/
    /*margin-right:5px;*/
    /*margin: 45px 5px 10px 8px;*/
}


