*{
    box-sizing: content-box;
}
body{
    background-color: #3F7E80;
    font-family: Impact, serif;
}
main{
    display: flex;
    justify-content: center;
}
#title{
    text-align: center;
    text-decoration: underline;
    font-size: 90px;
    margin-bottom: 30px;
    margin-top: 40px;
}
/*--------------------------------------------------------------------------------------------*/
.cityName{
    font-size: 50px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
}
.cityBox{
    font-size: 30px;
    position: relative;
    text-align: center;
    width: 320px;
    height: 550px;
    margin: 0 40px 0 40px;
}
article img{
    position: absolute;
    left: 0;
    border: black double 10px;
    background-color: darkslategray;
    height: 450px;
    width: 300px;
}
/*--------------------------------------------------------------------------------------------*/
#logo{
    position: absolute;
    top: 740px;
}
#logo img{
    height: 175px;
    width: auto;
}
@media screen and (max-width: 1200px){
    .cityBox{
        width: 200px;
        height: 400px;
    }
    article img{
        width: 200px;
        height: 300px;
    }
}